@mixin fl-center{
    display: flex;
    align-items: center;
}

@mixin white {
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
    border-radius: 0px 0px 8px 8px;
}

@mixin m-b-cart-element {
    margin-bottom: 24px;
}

@mixin text-in-product {
    margin-bottom: 2%;
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
}

@mixin hover-invert {
    &:hover {
        filter: invert(100%);
    }
}