@import 'variables.scss';
@import 'mixins.scss';
@import 'clear.scss';
@import 'main.scss';


.main-layout__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    //flex-direction: column;
    flex-wrap: wrap;
}



